<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>Rails Beginners Lesson by Minami.rb</title>
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="/js/bootstrap.min.js"></script>
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
  <div class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="container-fluid nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="global_nav_receives">
                レッスン内容
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>Lesson1</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
