<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"/>
  <title>Rails Beginners Lesson by Minami.rb</title>
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="{{site.baseurl}}/js/jquery-1.9.0.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  <link href="{{site.baseurl}}/css/bootstrap-responsive.min.css" rel="stylesheet"/>
  <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
  <div class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <a class="brand" href="/">Minami.rb</a>
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            レッスン内容
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% include lessons.html %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            サイト例(工事中)
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    {{ content }}

    <p>
      This work is licensed under a
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 License</a>
    </p>

    <p>
      produced by <a href="http://qwik.jp/minamirb/">Minami.rb</a>
    </p>
  </div>
</body>
</html>
